.diorHeroSection {
  position: relative;
  width: 100vw;
  height: 90vh;
  display: flex;
  overflow: hidden;
  z-index: 1;
}

.diorHeroSide {
  flex: 1;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: filter 0.3s;
}

.diorHeroVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.diorHeroLogoWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 2rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.diorHeroLogo {
  height: 100px;
  width: auto;
  object-fit: contain;
}
